.top-container{
    background-color: #CBF1F5;
    text-align: center;
    position: sticky;
    padding-top: 100px;
}
.navbar{
    margin: 0 auto;
    width: 100%;
    position: fixed;
    padding: 15px ;
    background:#71C9CE;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .logo a{
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li a{
    color: #40514E;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.navbar .menu :hover{
    color: #EAF6F6;
    transition: 0.5s;
}
h1{
    font-size: 3.75rem;
    font-family: 'Dancing Script', cursive;
    margin-top: 50px;
    color: #71C9CE;
}
a{
    color: #EAF6F6 ;
    font-family: 'Dosis', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #40514E;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 50px;
    margin: 100px auto;
}
.student{
    text-decoration: underline;
}
.cap-text,.student{
    font-weight: normal;
    font-size: medium;
    color: #71C9CE;
}
.top-cloud{
    position: absolute;
    right: 20%;
    top: 50px;

}

.bottom-cloud{
    position: absolute;
    left: 20%;
    bottom: 300px;
}
.pro-img{
    border-radius: 50%;
    width: 100px;
    float: right;
    margin-left: 30px;
}/*
.mountain-img{
    position: relative;
    width: 80%;
    height: 80%;
}*/
.computer-img {
    border-radius: 50%;
    width: 100px;
    float: left;
    margin-right: 30px;
}
.chillies-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
h2,h3{
    color: #71C9CE;
}
.profile{
    line-height: 2;
    text-align: left;
}
.top-container{
    line-height: 2;

}
.middle-container{
    color: #40514E;
    width: 50%;
    line-height: 2;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin: auto;
}
.skill-row{
    width: 100%;
    margin: auto;
    text-align: left;
    line-height: 2;
}
.bottom-container{
    line-height: 2;
    background-color: #71C9CE;
    margin: auto;
    text-align: center;
    padding: 20px 0 0px;
}
.get-in-touch{
    text-align: left;
}
.contact-me{
    background-color: #E3FDFD;
    font-size: .8em;
    text-align: center;
    display: block;
    position: relative;
    padding: 0.75em 2em 0.75em 2em;
    color: #1b7f69;
    text-decoration: none;
    margin: 10px auto 10px auto;
    border-radius: 3px;
    border-radius: 5%;
    font-family: sans-serif;
    text-transform: uppercase;
}
.pro-img:hover{
    transition: 1.5s;
    transform: translate(10px,0px);
}
.computer-img:hover{
    transition: 1.5s;
    transform: translate(10px,0px);
}
.chillies-img:hover{
    transition: 1.5s;
    transform: translate(10px,0px);
}
.contact-me:hover{
    background-color: #71C9CE;
    color: white;
    transition: 0.5s;
}
.cprt{
    color: #EAF6F6;
    font-size: 0.725rem;
    margin: 10px 0 5px;
}
/*
@media  screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .top-container{
        width: 90%;
    }
    .middle-container{
        width: 90%;
    }
    .bottom-container{
        width: 90%;
    }
}
@media  screen and (min-device-width: 320px)
and (min-device-width: 400px) {
    .top-container{
        width: 90%;
    }
    .middle-container{
        width: 90%;
    }
    .bottom-container{
        width: 90%;
    }
}*/