.top-container{
    background-color: #CBF1F5;
    text-align: center;
    position: sticky;
    padding-top: 100px;
    margin: auto;
}
.navbar{
    margin: 0;
    width: 100%;
    position: fixed;
    padding: 8px;
    background:#71C9CE;
}
.navbar .max-width{
    display: flex;
    justify-content: space-between;
    margin: 0 20px; 
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;}
.max-width {
    margin: 0;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .logo a{
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li a{
    color: #40514E;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 40px;
}
.navbar .menu :hover{
    color: #EAF6F6;
    transition: 0.5s;
}
h1{
    font-size: 3.75rem;
    font-family: 'Dancing Script', cursive;
    margin-top: 50px;
    color: #71C9CE;
    animation-duration: 2s;
    animation-name: name;
    animation-iteration-count: infinte;
}
@keyframes name{
    0%{
        color:#71C9CE;
    }
    50%{
        color:#1b7f69;
    }
    75%{
        color:rgb(106, 167, 218);
    }
    100%{
        color:#71C9CE
    }
a{
    color: #EAF6F6 ;
    font-family: 'Dosis', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #40514E;
}
.hr{
    border: dotted #EAF6F6 10px;
    border-bottom: none;
    width: 50px;
    margin: auto;
}
.nxtline{
    border: dotted #fff 6px;
    border-bottom: none;
    width: 50px;
    margin: 50px auto;
}
.student{
    text-decoration: underline;
}
.clg{
    color: #40514E;
}
.clg:hover{
    color: #71C9CE;
    font-size: large;
}
.cap-text,.student{
    font-weight: normal;
    font-size: medium;
    color: #71C9CE;
}
.top-cloud{
    position: absolute;
    right: 20%;
    top: 50px;
}
.mountain-img{
    width: 100%;
}

.bottom-cloud{
    position: absolute;
    left: 20%;
    bottom: 300px;
}
.pro-img{
    border-radius: 50%;
    width: 100px;
    float: right;
    margin-left: 30px;
}
.python-img {
    width: 5rem;
    float: left;
    margin-right: 30px;
}
.sql-img{
    width: 5rem;
    float: right;
    margin-left: 10px;

}
.interests-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.get-in-touch{
    text-align: center;
}
h2,h3{
    color: #71C9CE;
}
.profile{
    line-height: 2.5;
    text-align: left;
    justify-content: center;
}
.middle-container{
    color: #40514E;
    width: 50%;
    line-height: 2;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    margin: auto;
}
.skill-row{
    width: 100%;
    text-align: left;
    line-height: 2;
}
.bottom-container{
    line-height: 2;
    background-color: #71C9CE;
    margin: 0;
    text-align: center;
    padding: 20px 0 0px;
}
.get-in-touch{
    text-align: left;
}
.contact-me{
    background-color: #E3FDFD;
    font-size: .8em;
    text-align: center;
    display: block;
    position: relative;
    padding: 0.75em 2em;
    color: #1b7f69;
    text-decoration: none;
    margin: 10px auto 10px auto;
    border-radius: 3px;
    border-radius: 5%;
    font-family: sans-serif;
    text-transform: uppercase;
}
.pro-img:hover{
    transition: 1.5s;
    transform: translate(10px,0px);
}
.python-img:hover{
    transition: 1.5s;
    transform: translate(10px,0px);
}
.sql-img:hover{
    transition: 1.5s;
    transform: translate(10px,0px);
}
.interests-img:hover{
    transition: 1.5s;
    transform: translate(10px,0px);
}
.contact-me:hover{
    background-color: #71C9CE;
    color: white;
    transition: 0.5s;
}
.cprt{
    color: #EAF6F6;
    font-size: 0.725rem;
    margin: 10px 0 5px;
}
@media  screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .top-container{
        width: 100%;
        margin: 0;
    }
    .mountain-img{
        width:inherit;
    }
    .navbar{
        width: 100%;
        margin: 0;
    }
    .max-width {
        margin: 0;
    }
    .middle-container{
        width: 90%;
        margin: 100px 200px;
    }
    .bottom-container{
        width: 90%;
    }
    .navbar .max-width{
        width: 100%;
        margin: 0;
    }
}
@media  screen and (min-device-width: 320px) and (min-device-width: 480px) {
    .navbar{
        padding: 4px;
    }
    .mountain-img{
        width: 50%;
    }
    .top-cloud{
        position: absolute;
        right: 20%;
        top: 100px;
    }
    .bottom-cloud{
        position: absolute;
        left: 15%;
        top: 300px;
        height: 50px;
    }
    .max-width {
        margin: 0;
    }
    .navbar{
        width: 100%;
        margin: 0;
    }
    .top-container{
        width: 100%;
        line-height: 3;
        width: 100%;
        line-height: 6;
    }
    .profile{
        line-height: 2.5;
        text-align: left;
        justify-content: center;
    }
    .middle-container{
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .skill-row{
        text-align: left;
        justify-content: center;
    }
    .contact-me{
        width: 50%;
        font-size: large;
    }
    .bottom-container{
        width: 100%;
    }
}

@media  screen and (min-device-width: 400px)
and (min-device-width: 800px) {
    .mountain-img{
        width: 50%;
    }
    .top-cloud{
        position: absolute;
        right: 20%;
        top: 100px;
    }
    .bottom-cloud{
        position: absolute;
        left: 15%;
        top: 300px;
        height: 50px;
    }
    .max-width {
        margin: 0;
    }
    .navbar{
        width: 100%;
        margin: 0px 0px 0px 10px;
    }
    .top-container{
        width: 100%;
        line-height: 3;
        width: 100%;
    }
    .profile{
        line-height: 2.5;
        text-align: left;
        justify-content: center;
    }
    .middle-container{
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .skill-row{
        text-align: left;
        justify-content: center;
    }
    .contact-me{
        width: 50%;
        font-size: large;
    }
    .bottom-container{
        width: 100%;
    }
}
