body {
    display: block;
    margin: 0;
}

.top-container {
    background-color: #CBF1F5;
    position: sticky;
    padding-top: 10%;
    text-align: center;
}
.gap{
    margin: 100px;
}
.navbar {
    margin:0 20px 0 0;
    width: 100%;
    position: fixed;
    padding: 4px;
    background: #71C9CE;
}

 .max-width {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .logo a {
    color: #EAF6F6;
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li a {
    color: #40514E;
    font-family: sans-serif;
    margin: 0 40px 0 25px;
}

.navbar .menu :hover {
    color: #EAF6F6;
    transition: 0.5s;
}
a{
    font-family: 'Dosis', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

h1 {
    font-size: 3.75rem;
    font-family: 'Dancing Script', cursive;
    color: #71C9CE;
    text-shadow: 0px 5px 4px gray;
    animation-duration: 2s;
    animation-name: name;
    animation-iteration-count: infinite;
}

@keyframes name {
    0% {
        color: #71C9CE;
    }

    50% {
        color: #1b7f69;
    }

    75% {
        color: rgb(106, 167, 218);
    }

    100% {
        color: #71C9CE
    }
}

a:hover {
    color: #40514E;
}
.hr {
    border: dotted #EAF6F6 10px;
    border-bottom: none;
    width: 90px;
    margin: auto;
}
.nxtline {
    border: dotted #fff 6px;
    border-bottom: none;
    width: 50px;
    margin: 50px auto;
}
.skill-row {
    width: 100%;
    text-align: left;
    line-height: 2;
}

.cap-text {
    text-shadow: 0px 2px 2px black;
    font-size: 1.2rem;
    color: #71C9CE;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 50px;
}

.mountain-img {
    width: 50%;
}

.bottom-cloud {
    position: absolute;
    left: 20%;
    bottom: 300px;
}
.name-cap{
    margin:10px;
    align-items: center;
    justify-content: center;
}
.pro-img {
    border-radius: 50%;
    float: right;
    margin: 10px 20px 0;
    width: 200px;
}
.aboutme{
   text-align: left;
   
}
.python-img {
    float: left;
    margin: 10px 10px 0 0;
    width: 12%;
}

.sql-img {
    width: 14%;
    float: right;
    margin: 20px 0;

}
.html-img{
    float: left;
    margin:20px 15px 0;
    width: 15%;
}
.css-img{
    float: right;
    margin: 10px 0;
    width: 15%;
}
.cli-img{
    float: left;
    margin:0 20px 0 0;
    width: 15%;
    border-radius: 100%;
}
.internship-img{
    float: right;
    margin: -20px 0 0 10px;
    width: 30%;
    border-radius: 10px;
}
.internship{
    text-align: left;
}
.interests-img {
    float: left;
    margin: -10px 0 10px;
    width: 15%;
}

.img:hover{
    transition: 3s;
    transform: rotateY(360deg);
}

#profile{
    text-align: left;
    margin: 20px 0;
}
h1{
    font-size: 100px;
}
h2{
    font-size: 50px;
    text-align: center;
}
h2, h3 {
    color: #71C9CE;
    font-family: 'Dosis', sans-serif;
}

.middle-container {
    color: #40514E;
    width: 60%;
    line-height: 2;
    font-family: 'Dosis', sans-serif;
    margin: auto;
}

.interests{
    display: flex;
    margin: 70px;
    list-style-type: circle;
}
.int-list{
    margin:0 10px 30px 0;
   padding-right: 20px;
   width: 60%;
}

.contact{
    background-image: url('images/sky1-img.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    
}
.get-in-touch{
    color: #40514E;
}

form{
    color: #40514E;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    margin-left:5%;
    padding-bottom: 20px;
}
.send {
    background-color: #E3FDFD;
    border-radius: 10px;
    border-style: none;
    color: #1b7f69;
    display: block;
    font-size: large;
    padding: 5px 0;
    margin-top: 10px;
    text-align: center;
    width: 20%;
}

.send:hover {
    border-style: none;
    background-color: #71C9CE;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.bottom-container {
    line-height: 3;
    background-color: #71C9CE;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    justify-content: space-evenly;
}

.bottom-container a {
    align-items: center;
    justify-items: center;
}
.cprt {
    color: #EAF6F6;
    font-size: 1rem;
    margin: 10px 0;
}

@media screen and (min-device-width: 250px) and (max-device-width: 480px) {
    .navbar {
        display: none;
    }

}